@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to the Hotel Booking App!</h1>
    <p>Choose an option below to get started:</p>
    <p>
        <a href="/Accommodation" class="btn btn-primary">Accommodations</a>
        <a href="/Booking" class="btn btn-secondary">Bookings</a>
        <a href="/User" class="btn btn-info">Users</a>
    </p>
</div>
    <hr />



