@* @{
    ViewData["Title"] = "Account Page";
 }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to our hotel booking application!</p>
    <p>
        <a href="/Account/Register" class="btn btn-primary">Register</a>
        <a href="/Account/Login" class="btn btn-secondary">Login</a>
    </p>
</div>  *@

